# =========================
# Maven / Gradle Build outputs
# =========================
/backend-maven/target/
frontend-gradle/**/build/
.gradle/
node_modules/
!src/**/build/
# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
.kotlin
.externalNativeBuild

# =========================
# Android Studio
# =========================
local.properties
captures/
*.apk
*.aab

# =========================
# Eclipse / STS / NetBeans
# =========================
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.nbproject/private/
nbbuild/
dist/
.nbdist/
.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/
# =========================
# OS specific
# =========================
.DS_Store
Thumbs.db
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata
# =========================
# Logs / temporary files
# =========================
*.log
out/
